 body {
    background-color: #000000;
    overflow: hidden;
    }
    a {
        color: #FFEA80;
        text-decoration: none;
    }
    
    a:hover {
        color:#ffda24; 
        text-decoration:none; 
        cursor:pointer;  
    }

 #logo{ 
	position:fixed; 
	top:0; 
	left:0;
    margin: 20px;
} 


/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 600px) {
    h1 {
    color: #ffffff;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    line-height: 99.1%;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    color: #ffffff;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    display: none
}

}

@media only screen and (min-width: 600px) {
/* Small devices such as large phones (640px and up) */
    h1 {
    color: #ffffff;
    font-family: "articulat-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    line-height: 99.1%;
    margin-bottom: 50px
}

p {
    color: #ffffff;
    font-family: "articulat-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
}

#title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
  }



@keyframes scroll-left {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-74px * 15));
   }
}
@keyframes scroll-right {
    0% {
        transform: translateX(calc(-74px * 15));
   }
    100% {
        transform: translateX(0);
   }
}

.slider {
    margin: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.slider::before, .slider::after {
    content: "";
    height: 108px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track-left{
    animation: scroll-left 80s linear infinite;
    display: flex;
    width: calc(74px * 32);
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider .slide-track-right{
    animation: scroll-right 80s linear infinite;
    display: flex;
    width: calc(74px * 32);
    margin-top: 20px;
    margin-bottom: 20px;
}
.slider .slide {
    height: 108px;
    width: 250px;
}

.box {
    width: 74px;
    height: 108px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.13);
    margin: 10px; /* Adjust the margin as needed */
  }

  .box-green {
    width: 74px;
    height: 108px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #00AE8F;
    margin: 10px; /* Adjust the margin as needed */
    -webkit-box-shadow: 0 0 30px rgba(0, 255, 209, .6);
    -moz-box-shadow: 0 0 30px rgba(0, 255, 209, .6);
    box-shadow: 0 0 30px rgba(0, 255, 209, .6);
  }